@using Microsoft.AspNetCore.Identity
@using webshop_2.Data;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@model webshop_2.Models.CartItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cart Item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Name)
        </dt>
        <dd class="col-sm-10">
            
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShopItem.Producer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShopItem.Producer)
        </dd>
        @if (User.IsInRole("admin"))
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CartId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CartId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ShopItemId)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ShopItemId)
            </dd>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>